.games-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.games-item {
  flex-basis: 280px;
}

.modal-overlay {
	position: fixed;
	height: 100%;
	top: 50%;
	right: 0;
	left: 0; 
	bottom: 0;
	animation: fadein .3s;
	background-color: rgba(0,0,0, 0);
	max-height: 0;
	transition: all .3s ease-in-out;
	overflow-y: scroll;
}

.modal-overlay.isActive {
	top: 0;
	background-color: rgba(0,0,0, .8);
	max-height: 100%;
}

.modal {
	position: absolute;
	top: 20px;
	left: 0;
	right: 0;
	margin: 20px auto;
	height: 100%;
	max-height: 0;
	color: #fff;
	max-width: 480px;
	padding: 20px;
	transition: all .3s ease-in-out;
}

.modal-overlay.isActive .modal {
	max-height: 100%;
}